<footer>

    <div id="rowfoot">
        <div>
            <p>@All copy Right Reversed |SHUBHAM SHARMA|</p>
        </div>
        <div>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
             
            </ul>
        </div>
    </div>
</footer>