<footer>

    <div id="rowfoot">
        <div>
            <p><b>@All copy Right Reversed ||--SHUBHAM SHARMA--||</b></p>
            
        </div>
        <div>
            <p><b>Connect With Developer:-</b></p>
            <ul>
                <li>
                   <a href="https://www.instagram.com/mr_shubham_6684?igsh=ZGt3Y2o4ZWU4MXlu"><i class="fa-brands fa-instagram fa-2xl" style="color: #003cc7;"></i></a>
                </li>
                <li>
                   <a href="https://www.linkedin.com/in/shubham-sharma-834a881b3/"><i class="fa-brands fa-linkedin fa-2xl" style="color: #003cc7;"></i></a> 
                 </li>
                 <li>
                    <a href="https://github.com/Shubhamsharma2002"><i class="fa-brands fa-github fa-2xl" style="color: #003cc7;"></i></a>
                 </li>
              </ul>
        </div>
    </div>
</footer>