
<header>
   
<div id="rowhead">

<div id="webname">
    <P>CHATUS</P>
</div>
<div>
<ul>
    <% if(locals.user){ %>
        <a href="/user/profile/<%= user.id %>">
            <%= user.name %>
          </a>
              <li>
                <a href="/user/signout">Sign Out</a>
              </li>
        <% }else{ %>
            <li>
                <a href="/user/signin">Sigh in</a>
            </li>
            <li>
                <a href="/user/signup">signup</a>
            </li>
            <% } %>
</ul>
</div>
</div>
</header>