<h1>||--SIGN UP--||</h1>

<form action="/user/cretae" method="post">
    <input type="text" placeholder="Enter Your name" required><br><br>
    <input type="email" placeholder="Enter Your Email" required><br><br>
    <input type="password" placeholder="Enter password " required><br><br>
    <input type="cnf_password" placeholder="Renter password " required><br><br>
    <input type="submit">
</form>