
<link rel="stylesheet" href="/css/user_signin.css">


    <div class="Sigin-div">
    
        <h1>||--SIGN IN--||</h1>
    
    <form action="/user/create-sesion" method="post">
        <input type="email"    name="email" placeholder="Enter Your Email" required><br><br>
        <input type="password"  name="password"   placeholder="Enter password " required><br><br>
        <input type="submit" value="Sign In"> <br><br>
    </form>
    
    
    </div>


    <p>
        <a href="/user/auth/google">Google Sing-in /Up</a>
    </p>
