<link rel="stylesheet" href="/css/user_signup.css">

<div class="row">
    <div class="login-img">
    
        <img src="/img/signup.jpg" alt=""  class="img-b">
    
    </div>
    <div  class="form-div">  
       
            <h1>||USER--SIGN UP--||</h1>
            <p>Fill Your Details For SignUp</p>
            <form action="/user/create" method="POST">
                <label ><i class="fa-regular fa-user fa-2xl" style="color: #B197FC;"></i></label>
                <input type="text"   name="name"  placeholder="Enter Your name" required><br><br>
                <label ><i class="fa-solid fa-envelope fa-2xl" style="color: #74C0FC;"></i></label>
                <input type="email"  name="email" placeholder="Enter Your Email" required><br><br>
                <label class="icon"><i class="fa-sharp fa-solid fa-unlock fa-2xl" style="color: #B197FC;"></i></label>
                <input type="password" name="password" placeholder="Enter password " required><br><br>
                <label class="icon"><i class="fa-sharp fa-solid fa-unlock fa-2xl" style="color: #B197FC;"></i></label>
                <input type="password" name="cnf_password"placeholder="Renter password " required><br><br>
                <i class="fa-solid fa-right-to-bracket fa-2xl" style="color: #B197FC;"></i>
                <input type="submit" value="Sign Up" class="b"><br><br>
            </form>

        <h4>---Or Sing-Up with-- </h4>
    <div class="google-login">
        <a href="/user/auth/google"> <i class="fa-brands fa-google" style="color: #008ffd;"></i> &nbsp;Google Sing-Up</a>
    </div>
        <p>Alredy registerd?<a href="/user/signin">Sign-in</a></p>
    </div>


</div>


<!-- 
<div class="row-signup">
<h1>||--SIGN UP--||</h1>

<form action="/user/create" method="POST">
    <input type="text"   name="name"  placeholder="Enter Your name" required><br><br>
    <input type="email"  name="email" placeholder="Enter Your Email" required><br><br>
    <input type="password" name="password" placeholder="Enter password " required><br><br>
    <input type="password" name="cnf_password"placeholder="Renter password " required><br><br>
    <input type="submit" value="Sign Up"><br><br>
</form>
</div>

<p>
    <a href="/user/auth/google">Google Sing-in /Up</a>
</p> -->