<h1>||--SIGN IN--||</h1>

<form action="/user/create-sesion" method="post">
    <input type="email" placeholder="Enter Your Email" required><br><br>
    <input type="password" placeholder="Enter password " required><br><br>
    <input type="submit">
</form>