

.row-signup{
    background-color:deeppink;
    width: 20%;
    margin-left: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 15px;
}

form > input{
    padding: 10px;
    border-radius: 5px;
    border: none;
}