footer {
  background-color: darkgrey;
}

footer #rowfoot {
  display: flex;
  justify-content: space-around;
  height: 70px;
  margin-top: 30vh;
  padding: 10px;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

footer li {
  display: inline;
  list-style: none;
  margin-right: 10px;
}
