header {
  height: 60px;
  background-color: #1669f0;
  color: white;
  overflow: hidden;
}

header a {
  text-decoration: none;
  color: white;
}

header ul {
  list-style: none;
}

header li {
  display: inline;
}

header .nav {
  display: flex;
  justify-content: space-between;
}

header .logo {
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 1px;
}

header .pimg {
  border-radius: 30%;
  height: 40px;
}

header .data-nav {
  margin-right: 25px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
