
body{
    background-color: coral;
}
div{
    background-color:deeppink;
    width: 20%;
    margin-left: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 15px;

}
div:hover{
    background-color:hotpink;
    transform: scale(1.5);
    width: 30%;
    margin-left: 30%;
}
form > input{
    padding: 10px;
    border-radius: 5px;
    border: none;
}